.header {
  border-radius: 0 0 $border-radius-s 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding-left: $m-size;
  padding-right: $m-size;
  position: fixed;
  left: 0px;
  background: $white;
  line-height: 3rem;
  z-index: 1;
}
