.actionbutton {
  background-color: $secondary;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  height: 7rem;
  position: fixed;
  bottom: $s-size;
  right: $s-size;
  width: 7rem;

  &:active {
    background-color: $secondary-dark;
  }
}

@media all and (max-width: 400px) {
  .actionbutton--hidden {
    right: -100px;
    opacity: 0;
  }
}
