.button {
  background: $primary;
  border: none;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-size: $font-size-small;
  font-weight: 600;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
  color: darken($primary-dark, 20);
}

.button--secondary {
  background: $secondary;
}

.button--white {
  background: white;
  color: $primary-dark;
}

.button-row {
  display: flex;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.button-row > button {
  margin: 0 5px;
}
