button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.button {
  background: $primary;
  border: none;
  border-radius: $border-radius-s;
  color: $black;
  display: inline-block;
  font-size: $font-size-small;
  font-weight: 600;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;

  &--link {
    background: none;
    color: darken($primary-dark, 20);
  }

  &--secondary {
    background: $secondary;
  }

  &--white {
    background-color: $white;
    color: $primary-dark;
  }
}

.button-row {
  display: flex;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  * > button {
    margin: 0 0.5rem;
  }
}

@media all and (max-width: 350px) {
  .button-row {
    align-content: stretch;
  }
}
