.drawer {
  position: fixed;
  margin-top: 5rem;
  left: -310px;
  height: calc(100% - 50px);
  width: 300px;
  background: $white;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;

  &--checked {
    left: 0px;
  }

  &__item {
    align-items: center;
    border-radius: $border-radius-s;
    border-top: $border-thickness-s solid lighten($primary-light, 29);
    border-left: $border-thickness-s solid lighten($primary-light, 29);
    border-bottom: $border-thickness-s solid lighten($primary-light, 25);
    border-right: $border-thickness-s solid lighten($primary-light, 25);
    display: flex;
    height: $xl-size;
    font-size: $font-size-medium;
    font-weight: bold;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 0;
    justify-content: space-between;
    padding-right: 0;

    &:hover {
      background-color: lighten($primary-light, 10);
    }

    &-left-side {
      align-items: center;
      border-radius: $border-radius-s 0 0 $border-radius-s;
      display: flex;
      height: 100%;
      width: 100%;

      &:hover {
        background-color: $primary-light;
      }

      & > *:nth-child(1) {
        margin-left: 1rem;
        margin-right: $s-size;
      }
    }

    &-right-side {
      align-items: center;
      border-radius: 0 $border-radius-s $border-radius-s 0;
      display: flex;
      margin-right: 0;
      height: 100%;
      padding-right: 1rem;
      padding-left: 1rem;

      &:hover {
        background-color: $primary-light;
      }
    }
  }

  &__section {
    border-bottom: $border-thickness-s solid $lightgrey;
    padding-left: $s-size;
    padding-right: $s-size;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    &-title {
      color: #777;
      font-size: $font-size-small;
    }
  }
}

@media all and (max-width: 350px) {
  .drawer {
    &--checked {
      width: 100%;
      padding: 2rem;
    }
  }
}
