.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding-left: $m-size;
  padding-right: $m-size;
  position: fixed;
  left: 0px;
  background: white;
  line-height: 30px;
  z-index: 1;
}

.logo {
  color: grey;
  display: flex;
}

.logo > * {
  margin-top: $s-size;
  margin-bottom: 5px;
}
