// Material
.material {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

.material-angle {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
