.progress-bar {
  align-items: center;
  font-size: $m-size;
  height: 4rem;
  width: auto;
  background-color: $lightgrey;
  position: relative;
  display: flex;
  justify-content: space-between;

  &:before {
    content: attr(data-label);
    font-size: $font-size-medium;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
  }

  &__done {
    background-color: $primary-light;
    display: inline-block;
    height: 100%;
  }

  &__failed {
    background-color: $secondary;
    display: inline-block;
    height: 100%;
  }
}
