.progress-bar {
  height: 1.5em;
  width: 50%;
  background-color: #c9c9c9;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.progress-bar:before {
  content: attr(data-label);
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  top: 5px;
  left: 0;
  right: 0;
}
.progress-bar .done {
  background-color: #7cc4ff;
  display: inline-block;
  height: 100%;
}

.progress-bar .failed {
  background-color: #ff7c7c;
  display: inline-block;
  height: 100%;
}
